<header class="clearfix mainHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo">
                <!-- The Roseate House -->
                {{hotelName}}
                <span><a href="https://www.checkinassistant.com">Powered by <img src="assets/images/logo.png" class="small-logo img-responsive"></a></span>
            </div>
            <div class="col-sm-8 header-links"> 
                <a href="tel:  0124-4610699"><img alt="CheckIn-Phone" src="assets/images/phone-icon-white.png"> 0124-4610699</a> 
                <a href="mailTo: info@checkinassistant.com"><img alt="CheckIn-Email" src="assets/images/email-icon-white.png"> info@checkinassistant.com</a> 
            </div>      
        </div><!-- row end--> 
    </div><!-- container end--> 
</header>