<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-12 logo"> 
                <a href="https://www.checkinassistant.com"><img src="assets/images/logo.png" alt="CheckIn"></a> 
            </div>
            <div class="col-md-5 col-xs-12 footer-plinks"> 
                <a href="https://www.checkinassistant.com/privacy-policy.html">Privacy Policy</a> 
                <a href="http://blog.checkin.staging.birdapps.org/">Blog</a> 
                <a href="https://www.checkinassistant.com/faq.html">FAQ's</a> 
                <a href="https://www.checkinassistant.com/terms-condition.html">Terms &amp; Conditions</a> 
            </div>
            <div class="col-md-5 col-xs-12 header-links"> 
                <a href="tel:0124-4610699"><img alt="CheckIn-Phone" src="assets/images/phone-icon-white.png"> 0124-4610699</a> 
                <a href="mailto:info@checkinassistant.com"><img alt="CheckIn-Email" src="assets/images/email-icon-white.png"> info@checkinassistant.com</a> 
            </div>
        </div><!-- footer row1 end -->
        <div class="row">
            <div class="col-xs-12 footer-slinks text-center"> 
                <a href="https://www.facebook.com/CheckInAssistant/" target="_blank"><i class="fa fa-facebook"></i></a> 
                <a href="https://twitter.com/CheckinAssista1?lang=en" target="_blank"><i class="fa fa-twitter"></i></a> 
                <a href="https://www.instagram.com/checkinassistant/" class="insta-icon" target="_blank"></a> 
                <a href="https://www.youtube.com/channel/UCnN_5lxOznMtbDZCOo9WslQ" target="_blank"><i class="fa fa-youtube-play"></i></a> 
            </div>
        </div><!-- footer row2 end -->
        <div class="row">
            <div class="col-xs-12 copyright text-center">
                <p>Copyright © 2018 Birdres Technologies Pvt. Ltd. All rights reserved.</p>
            </div>
        </div><!-- footer row3 end --> 
    </div>
</footer>